<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Table</title>
</head>
<body>
<div align="center">
    <h2>User Table</h2>
    <h3><a th:href="@{/admin/newUser}">Add new user</a></h3>
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>Id</th>
            <th>Last Name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getEmail()}"/>
            <td th:text="${user.getRoles()}"/>
            <td>
                <a th:href="@{/admin//{id}/edit(id=${user.getId()})}">Edit</a>
                <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<form action="#" th:action="@{/admin/info}">
    <input type="submit" value="Info admin"/>
</form>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>
</div>
</body>
</html>